DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=example:port
DB_DATABASE_NAME=database-name

GOOGLE_CLIENT_ID=CLIENT_ID of the app that accesses the backend
JWT_SECRET=at least 16 characters, recommend >= 32 characters (https://javadoc.io/static/io.jsonwebtoken/jjwt-api/0.11.5/io/jsonwebtoken/security/Keys.html#hmacShaKeyFor(byte[]))

EMAIL_USERNAME=medichorvn@gmail.com
EMAIL_PASSWORD=eclnfgjlvngonudl