DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=example:port
DB_DATABASE_NAME=database-name

JWT_SECRET=at least 16 characters, recommend >= 32 characters (https://javadoc.io/static/io.jsonwebtoken/jjwt-api/0.11.5/io/jsonwebtoken/security/Keys.html#hmacShaKeyFor(byte[]))
