DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=example:port (localhost:1433)
DB_DATABASE_NAME=database-name (BloodDonorProject)

GOOGLE_CLIENT_ID=CLIENT_ID of the app that accesses the backend (943810682639-rf7bcgvdtkv4ult014pc6e3kmv285jf2.apps.googleusercontent.com)
JWT_SECRET=at least 16 characters, recommend >= 32 characters (eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ik5nbyBWaWV0IFRpZW4iLCJwaG9uZU51YmVyIjoiMDkwMzY3ODI4MiJ9.w1BqEa06lK-O9jwZnTqrWziHtPtijj32CLtH4auCqFo)

EMAIL_USERNAME=medichorvn@gmail.com
EMAIL_APP_PASSWORD=eclnfgjlvngonudl

PORT = 8080
API_DOC = Run project on localhost, then access url: http://localhost:${PORT}/medichorApi.html
(http://localhost:8080/medichorApi.html)